@charset "UTF-8";

@font-face { 
  font-family: 'Brush Script MT';
  src: local('/assets/fonts/BrushScriptStd.otf') format('otf');
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: beige;
    min-height: 100%;
    margin: 0;
}

.body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Nav start */

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }

.navbar-list-container {
    display: flex;
    background-color: dimgray;
}

.nav-menu-button {
    display: none;
    border-radius: 4px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    cursor: zoom-in;
}

.nav-items a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: dimgray;
    overflow: hidden;
}

.nav-items a:hover {
    background-color: burlywood;
    color: black;
}

.nav-items li {
    display: table-cell;
    text-align: center;
    list-style: none;
}

.navbar-list-container-small {
    position: absolute;
    left: -40px;
    top: 24px;
    z-index: 1;
}

.nav-items-small li {
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: zoom-in;
    border-left: 2px solid dimgray;
    border-right: 2px solid dimgray;
}

.nav-items-small li:first-child {
    border-top: 2px solid dimgray;
  }
  .nav-items-small li:last-child {
    border-bottom: 2px solid dimgray;
  }

.nav-items-small a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: dimgray;
}

.nav-items-small a:hover {
    background-color: burlywood;
    color: black;
}

.nav-items-small a.active {
    background-color: #04AA6D;
    color: white;
}

.button-menu {
    border: none;
    padding: 8px;
    background-color: burlywood;
    color: black;
    border-radius: 4px;
}

/* Nav end */

/* Header start */

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.header-title {
    display: flex;
    flex-direction: column;
    font-family: 'Brush Script MT';
    font-size: 1.5em;
    text-align: center;
    background-image: linear-gradient(#ee2a7b, #ff7db8);
    color: transparent;
    background-clip: text;
}

.header-title-logo {
    display: flex;
    flex-direction: row;
}

.header-subtitle {
    display: flex;
    text-align: center;
    font-family: 'Brush Script MT';
    color: darkorchid;
    font-weight: normal;
}

.header-logo-img {
    width: 200px;
    padding-right: 64px;
}

/* End Header */

/* Section start */

.section {
    display: flex;
    max-width: 1024px;
    align-self: center;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
}

.section-text-image {
    display: flex;
    flex-direction: row;
}

.section-text-image-img-left {
    display: flex;
    flex-direction: row;
}

.section-text-image-img-left  p {
    padding-left: 24px;
}

.section-image {
    display: flex;
    justify-content: center;
  }
  
.section-image .img {
    height: 140px;
}

.resources {
    display: flex;
    flex-direction: row;
}

.resources-left {
    padding-right: 24px;
    flex: 1;
}

.resources-right {
    padding-left: 24px;
    flex: 1;
}

/* Section end */

/* Contact */

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-links a {
    padding-left: 24px;
    padding-right: 24px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Elements */

p {
    padding-bottom: 18px;
}

p > span {
    line-height: 1.8em;
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}


/* Elements end */

.footer {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: khaki;
}

@media (max-width: 576px) {
    .nav-menu-button {
        display: flex;
        background-color: dimgray;
        width: fit-content;
        padding: 4px;
        border-radius: 4px;
    }

    .navbar-list-container {
        display: none;
    }

    .navbar-list-container-small {
        display: none;
    }

    .header-container {
        margin-bottom: 0;
    }

    .header-title {
        align-items: center;
    }

    .header-title-logo {
        flex-direction: column;
        align-items: center;
    }

    .header-logo-img {
        width: 200px;
        padding-right: 0;
    }

    .header-title {
        font-size: 1.2em;
    }

    .header-subtitle {
        font-size: 1.2em;
    }

    .section-text-image {
        display: flex;
        flex-direction: column;
    }

    .section-text-image--image {
        display: flex;
        justify-content: center;
    }

    .section-text-image-img-left {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-text-image-img-left p {
        padding-left: 0;
    }

    .resources {
        flex-direction: column;
    }

    .resources-left {
        padding-right: 0;
    }
    
    .resources-right {
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .nav-menu-button {
        display: none;
    }

    .navbar-list-container-small {
        display: none;
    }

    .navbar-list-container {
        display: flex;
        justify-content: center;
    }

    .navbar-list-container-small {
        display: none;
    }
}

@media (max-width: 768px) {
    
}