html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: beige;
    min-height: 99%;
}

.body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid green;
}

/* Nav start */

.navbar-list-container {
    display: flex;
    border: 1px solid purple;
}

.nav-menu-button {
    display: flex;
    display: none;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.nav-items li {
    display: flex;
    text-align: center;
    list-style: none;
    border: 1px solid red;
}

.navbar-list-container-small {
    position: absolute;
    left: -28px;
    top: 18px;
    z-index: 1;
}

.nav-items-small li {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid red;
}

/* Nav end */

/* Header start */

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid yellow;
}

.header-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(#ee2a7b, #ff7db8);
    color: transparent;
    background-clip: text;
}

.header-title-logo {
    display: flex;
    flex-direction: row;
}

.header-subtitle {
    display: flex;
    text-align: center;
    font-family: 'Brush Script MT';
    color: darkorchid;
    font-weight: normal;
}

.header-logo-img {
    width: 200px;
    padding-right: 64px;
}

/* End Header */

/* Section start */

.section {
    display: flex;
    max-width: 1024px;
    align-self: center;
    padding-bottom: 24px;
}

.section-text-image {
    display: flex;
    flex-direction: row;
}

.section-image {
    display: flex;
    justify-content: center;
  }
  
.section-image .img {
    height: 140px;
}

/* Section end */

/* Elements */

p {
    padding-bottom: 18px;
}

p > span {
    line-height: 1.8em;
}


/* Elements end */

.footer {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid blue;
    background-color: khaki;
}

@media (max-width: 576px) {
    .nav-menu-button {
        display: flex;
    }

    .navbar-list-container {
        display: none;
    }

    .navbar-list-container-small {
        display: none;
    }

    .header-title {
        align-items: center;
    }

    .header-title-logo {
        flex-direction: column;
        align-items: center;
    }

    .header-logo-img {
        width: 40%;
        padding-right: 0;
    }

    .header-title {
        font-size: 90%;
    }

    .header-subtitle {
        font-size: 90%;
    }

    .section-text-image {
        display: flex;
        flex-direction: column;
    }

    .section-text-image--image {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 576px) {
    .nav-menu-button {
        display: none;
    }

    .navbar-list-container-small {
        display: none;
    }

    .navbar-list-container {
        display: flex;
        justify-content: center;
    }

    .navbar-list-container-small {
        display: none;
    }
}

@media (max-width: 768px) {
    
}