@charset "UTF-8";

@font-face { 
  font-family: 'Brush Script MT';
  src: local('/assets/fonts/BrushScriptStd.otf') format('otf');
}

#navbarResponsive {
  padding: 8px 8px 8px 8px;
  margin-top: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 8px;
  display: flex;
}

.masthead-header {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

.text-gradient {
  font-size: 48px;
  background-image: linear-gradient(#ee2a7b, #ff7db8);
  color: transparent;
  background-clip: text;
}

.section-title {
  display: flex;
  flex-direction: column;
  padding-left: 144px;
}

.section-title-text {
  margin-top: 80px;
  margin-bottom: 64px;
  display: flex;
  font-family: 'Brush Script MT';
  font-weight: normal;
  font-size: 64px;
}

.section-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}

.section-header-blurb {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 64px;
  margin-left: 32px;
}

.section-text {
  color: black;
  font-style: normal;
  font-size: 18px;
}

.section-logo {
  width: 200px;
}

.section-logo-sm {
  width: 100px;
}

.nav-link {
  color: #ee2a7b;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.menu-item {
  margin-left: 18px;
  margin-right: 18px;
  font-size: x-large;
  cursor: pointer;
}

.about-credentials {
  font-size: 20px;
  color: #ee2a7b;
}

.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.navbar-nav > ul > li > a {
  color: #EE2A7B;
}

.copyright-text {
  color: #EE2A7B;
  font-style: normal;
  font-size: 1.0rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-bottom: 8px;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  justify-content: center;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  background-color: black;
}

.navbar-nav-scroll {
  overflow-y: auto;
}

/* */

.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}
.navbar-expand-lg .navbar-nav-scroll {
  overflow: visible;
}


.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-toggler {
  position: fixed;
  left: 0;
  margin-left: 8px;
}

.navbar-expand-lg .navbar-toggler {
  display: none;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.container {
  width: 1018px;
  display: flex;
  flex-direction: column;
  justify-self: center; 
  margin-left: 16px;
  margin-right: 16px;
}

.page-section {
  display: flex;  
  padding: 6rem 0;
}

.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
}

#mainNav {
  background-color: #212529;
  justify-content: center;
}

#mainNav .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
}

.footer {
  display: flex;
  justify-self: center;
  padding-top: 12px;
  padding-bottom: 22px;
}

.footer-text {
  display: flex;
  justify-self: center;
}

html {
  scroll-padding-top: 4.5rem;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  font-family: "Ranade";
  background-color: beige;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  margin-top: 0;
  margin-bottom: 3rem;
  line-height: 1.75;
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  section {
    padding: 9rem 0;
  }

  .container {
    max-width: 720px;
  }

  .section-logo {
    display: flex;
  }

  .section-logo-sm {
    display: none;
  }
}

@media (max-width: 768px) {
  section {
    padding: 9rem 0;
  }

  .container {
    max-width: 720px;
  }

  .section-logo {
    display: none;
  }

  .section-logo-sm {
    display: flex;
  }

  .section-title {
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
}

@media (max-width: 993px) {
  #mainNav {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  h3, .h3 {
    font-size: 1.75rem;
  }

  h4, .h4 {
    font-size: 1.5rem;
  }

  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1399.98px) {
  
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}